## Author
Caleb Mbah

# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are Summarized

**Objectives:**

* Some of the popular languages that Data Scientists use
* Common library used by Data Scientists
* How to create ordered lists
* Table of Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Matpolib

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [10]:
200/60

3.3333333333333335